body {
    width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: sans-serif;
    color:white;
}
.top__box{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    line-height: 100%;
}
.top__box--languages a {
   text-decoration: none; 
}
.top__box--kontakt {
    color:teal;
    display: flex;;
    flex-wrap: wrap;
}
.header__logo{
    display:flex;
    justify-content: center;
    color: #006564;
    font-size: 77px;
    text-shadow: 2px 2px;
    font-weight: 300;
}
.header__nav{
    display:flex;
    justify-content: center;
    list-style-type: none;
    color: #006564;
    border-radius: 5px;
    }
.header__nav--menu {
    display:flex;
    justify-content:center;
    margin: 5px 0;
    padding: 5px;
    color: #006564;
    font-size: 22px;
    min-height: 40px;
    line-height: 200%;
}
.header__nav--menu a {
    text-decoration: none;
    color: #006564;
    margin:10px;
}
.header__nav--menu a:hover {
    color:rgb(40, 48, 72);
    /* #92140c */
}
.header__nav--menu li {
    list-style-type: none;
    padding: 0 10px;
    border-right: 1px dashed #006564;
    
}
.header__nav--menu li:first-child {
    border-left: 1px dashed #006564;
}
.layout{
    min-height: 55px;
    background-color: yellowgreen;
}
.main {
    max-width: 550px;
    margin:none;
    background-color:lightblue;
    position: relative;
}
.content__square {
    list-style: none;
    /* display:flex; */
    /* flex-direction:column; */
    position:reletive;
}
.content__square--pilgrim{
    background-image: url('klasztor-jasnogorski.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: 300px;
    margin-top:20px;;
    color: #fff;
    /* flex-wrap: wrap; */
    display:flex;
    align-items: flex-end;
    /* position: absolute;
    left:0; */
    border-radius: 5px;
}
.content__square--turist{
    background-image: url('Szwajcaria-szlaki-długodystansowe-10-660x330.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: 300px;
    margin:20px 0;
    color: #fff;
    /* flex-wrap: wrap; */
    display:flex;
    align-items: flex-end;
    /* position: absolute;
    left:0; */
    border-radius: 5px;
}
.content__square--enjoy{
    background-image: url('#');
    background-repeat: no-repeat;
    width:100%;
    height: 300px;
    /* margin:none; */
    margin-bottom: 25px;
    color: #fff;
    flex-wrap: wrap;
    display:flex;
    align-items: flex-end;
    position: absolute;
    left:0;
}
.content__square--transfer{
    background-image: url('krakow-airport.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    width:100%;
    height: 300px;
    margin:20px 0;
    margin-bottom: 25px;
    color: #fff;
    /* flex-wrap: wrap; */
    display:flex;
    align-items: flex-end;
    /* position: absolute;
    left:0; */
    border-radius: 5px;
}
.content__square--plan{
    background-image: url('#');
    min-width: 350px;
    min-height: 300px;
    margin-bottom: 25px;
    background-color: grey;
}
.content__square--tile {
    background-image: url('#');
    min-width: 350px;
    min-height: 300px;
    margin-bottom: 25px;
    background-color: grey;  
}
.icon{
    color:red;
}
