body{
    font-family: Arial, Helvetica, sans-serif;
    margin:10px auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
main{
    width: 350px;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "aside"
    "mailBox"
    "mailStory"
    ;
}
aside{
    font-size: 16px;
    color:#fff;
    grid-area: aside;   
    display:flex;
    flex-direction: column;
    background-color: #00004d;
    width: 100%;
}
nav{
    display:flex;
    flex-direction: column;
    background-color: #00004d;
    min-height:30vw;
    padding-left: 24px;
    padding-top: 10px;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    color:#1B98F8;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 16px;
}
.menu a {
    display:flex;
    justify-content: flex-end;
    color: #00004d;
    padding-top: 10px;
}
.guzik{
    display:flex;
    justify-content: center;
    align-items: center;
}
#button{
    border-radius: 20px;
    padding: 8px 16px;
    margin:16px 0px;
    background-color: #1B98F8;
    color:#fff;
    font-size: 16px;
    width: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.functions{
    display:flex;
    flex-direction: column;
    line-height: 36px;
    padding:0px;
}
.labels{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 36px;
}
.labels dd{
    margin-left:0px;
}
.inbox{
    color:#1B98F8;
}
.labels-header{
    color:#1B98F8;
}
#private{
    margin-top:10px;
}
::before{
    margin-right: 4px;
}
#private::before{
    content:"o";
    width: 4px;
    height: 4px;
    background-color:#ffc000;
}
#job::before{
    content: "o";
    width: 4px;
    height: 4px;
    background-color:#33b4c5;
}
#flights::before{
    content: "o";
    width: 4px;
    height: 4px;
    background-color:#3bc41f; 
}
content{
    grid-area: mailBox;
    width: 350px;
    height: 100%;
    overflow:none;
}
.mailbox{
    height: 100%;
    width: 100%;
    margin:1px;
    color:#999;
    display:flex;
    border-bottom: 1px solid lightgrey;
    padding:14px 16px; 
}
.mailbox-uno{
    height: 100%;
    width: 100%;
    margin:1px;
    color:#999;
    display:flex;
    border-bottom: 1px solid lightgrey;
    padding:14px 16px; 
}
.mailbox-ramka{
    height: 100%;
    width: 100%;
    margin:1px;
    color:#999;
    display:flex;
    border-bottom: 1px solid lightgrey;
    padding:14px 16px; 
    border-left:6px solid #1B98F8; 
}
   .mailbox-ramka:hover{
    background-color:#eee;
   }
   .foto{
    display: flex;
    justify-content: center;
    align-items: center; 
   }
   .facjata{
    width: 64px;
    height: 64px;
    border-radius: 3px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .text{
    margin-left: 10px;
   }
   .sender{
       margin-top: 5px;
       margin:0px;
       font-size: 13px;
       color:#999;
       text-transform: uppercase;
   }
   .mail-title{
       margin:0px;
       font-size: 16px;
       color:black;
   }
   .mail-content{
       font-size: 13px;
       color:black;
       margin: 7px 0;
   }



.story{
    grid-area: mailStory;
}
.mail-story{
    width: 100%;
}
.footer-header{
    display: flex;
    width: 100%;
    margin:0px;
    padding: 0px;
}
.timeAndData{
    background-color: lightseagreen;
    width: 75%;
}
.timeAndData h1{
    font-size: 32px;
}
.timeAndData a {
    text-decoration: none;
}
.timeAndData p{
    font-size: 16px;
}

.footer-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 6px 26px;
    background-color: lightpink;
    width: 25%;
    
}

.footer-buttons button{
    margin:5px;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    
}
