body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}
main{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "aside"
    "mailBox"
    "mailStory"
    ;
}
aside{
    font-size: 16px;
    color:#fff;
    grid-area: aside;   
    display:flex;
    flex-direction: column;
    background-color: #00004d;
}
nav{
    display:flex;
    flex-direction: column;
    background-color: #00004d;
    min-height:30vw;
    padding-left: 24px;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}
.guzik{
    display:flex;
    justify-content: center;
    align-items: center;
}
#button{
    border-radius: 20px;
    padding: 8px 16px;
    margin:16px 0px;
    background-color: #1B98F8;
    color:#fff;
    width: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.functions{
    display:flex;
    flex-direction: column;
    line-height: 36px;
    padding:0px;
}
.labels{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 36px;
}
.labels dd{
    margin-left:0px;
}
.inbox{
    color:#1B98F8;
}
.labels-header{
    color:#1B98F8;
}
#private{
    margin-top:10px;
}
#private::before{
    content: "o";
    width: 4px;
    height: 4px;
    background-color:#ffc000;
}
#job::before{
    content: "o";
    width: 4px;
    height: 4px;
    background-color:#33b4c5;
}
#flights::before{
    content: "o";
    width: 4px;
    height: 4px;
    background-color:#3bc41f; 
}
content{
    grid-area: mailBox;
}
.story{
    grid-area: mailStory;
}
.mailbox{
    min-height: 350px;
    height: 100%;
    
}
