body {
    width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #006564;
    display:flex;
}
main h1 {
    text-shadow: 1px 1px;
    font-weight: 300;
}
.form__input {
    display: block;
}
label {
    display:block;
}
