body {
    display:flex;
    justify-content: center;
    /**WYŚRODKOWANIE STRONY** --> a/a albo margin:0 auto;  */  
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f5;
    padding-bottom: 64px;
    
}
#background{
    background-image: url(../assets/masthead@2x.jpg);
    background-position: center;
    background-size:contain;
    background-color:#a5adb0;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    height: 800px;
    z-index:-1;
}
a{
    color:#2d3438;
}
main {
    width: 1140px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 60px 0 45px;   
    border-bottom: 1px solid #cad2d7;
}
header .home{
    border-bottom-color: 1px solid #f5f5f5; 
} 
nav{
    margin-top: 10px;
}
nav a {
font-weight: bold;
padding: 6px 24px;
margin: 6px;
color:#2d3438;
text-decoration: none;
border-radius: 2px;
font-family:'Roboto Condensed', sans-serif;
}
nav a:hover{
    background-color:#646d72;
    color: #fff;
}
/* .active{ */
nav a.active{ 
    background-color: #ffc000;
    color:#fff;
}
nav a.active:hover{
    background-color:#646d72;
    color:#fff;
}
#logo {
    width: 131px;
}
#head{
    color:#fff;
    margin-top: 200px;
    font-size: 18px;
    width: 740px;
    margin-bottom: 190px;
}
h1#home{
    font-size: 96px;
}
h1#home::after{
    content:unset;
}
h1{
    font-size: 66px;
    font-weight: bold;
    margin:25px 0 15px;
}
h2{
    font-size:28px;
    color:#e2e2e2;  
}

h2.home{
    font-size:28px;
    color:#e2e2e2;
}
.aleo{
    font-family: 'Aleo', serif;
    font-size:24px;
    font-style: italic;  
    font-weight: 400;
    color:#3c4a52; 
    margin-bottom:24px;
    margin-top: 0px;
    margin-right:46px;
}
#spaceballs{
    font-size: 24px;
    font-weight: 700;
    margin: 25px 0 12px;
    color:rgb(255,255,255);
    font-family:'Roboto', sans-serif ;
}
.intro{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin:0px;
    color:rgb(255,255,255);
    font-family:'Roboto', sans-serif ; 
}
#head a {
    color:#3c4a52;
    font-weight: bold;
}
#head a:hover{
    color:#ffc000;
}
.info{
    display: flex;   
    justify-content: space-between;
    color:#656a6f; 
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin:0px;
    
    font-family:'Roboto', sans-serif ;
}
.info div{
    width: 30%;
    margin-right: 5%;
}

.info h3{
    font-size: 36px;
    font-weight: 700;
    line-height: 26px;
    margin: 15px 0 18px;
    /* margin-top:15px; */
    /* margin-bottom: 18px; */
    color:#2d3438;

}
.info h3::after, h1::after {
    background-color:#ffc000;
    content:"";
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-left: 4px;
}
p{
    color:#656a6f;
    line-height: 24px;;
}
.info p {
    margin-top:16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.info a{
    color:rgb(60, 74, 82);
    font-family: 'Robotobold';
    text-decoration: none;
    padding:5px 0 8px 22px;
    font-weight: bold;
}
.info a::before{
    content: "... ";
    background-color:#ffc000;
    content:"";
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 4px;
}
footer{
    border-top: 1px solid #9fa6aa;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #9fa6aa;
    margin:64px 80px 0px 80px;
    
}
.footer-left{
    display: flex;
    align-items: center;   
}
.footer-left img{
    height: 19px;
    opacity:0.6;
    margin-right: 10px;
}
.footer-left img:hover{
    opacity:0.9;
}
.footer-right img {
    font-weight: 400; 
    height: 31px;
    opacity: 0.4;
}
footer img:hover {
    opacity:0.6;
}
.footer-left span{
    color:#9fa6aa;
}
.container{
    padding: 50px 0px;
}
img#about{
    width: 100%;
    margin:16px 0px;
    border: 6px solid #fff;
}
.flex{ 
    display:flex;
    justify-content: space-between;
}
.left-conteiner{
    margin-right:68px;
}