.page {
    background-image: url(../img/talin-fhd.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vw;
    box-sizing: border-box;
    margin:0 auto; 
}

.content{
    color: black;
    background-color: #fff;
}

.blank{
   min-height: 500px;
}
.first-blank{
    height: 55px;
}
